<h1>Enter in the new course's information</h1>

<%= form_for @course do |f| %>
    <%= f.label :course_number %>
    <%= f.text_field :course_number %>

    <br/><br/>

    <%= f.label :course_name %>
    <%= f.text_field :course_name %>

    <br/><br/>

    <%= f.submit %>
<% end %>