<nav>
  <%= link_to root_path do %>
      <span class="navigation">Home</span>
  <% end %>
  <%= link_to students_path do %>
      <span class="navigation">View All Students</span>
  <% end %>
  <%= link_to new_student_path do %>
    <span class="navigation">Create New Student</span>
  <% end %>
  <%= link_to courses_path do %>
    <span class="navigation">View All Courses</span>
  <% end %>
  <%= link_to committees_path do %>
    <span class="navigation">Committees</span>
  <% end %>
  <%= link_to advising_appointments_path do %>
    <span class="navigation">Advising</span>
  <% end %>
</nav>