<nav>
  <%= link_to root_path do %>
      <span class="navigation">Home</span>
  <% end %>
  <%= link_to students_path do %>
      <span class="navigation">Students</span>
  <% end %>
  <%= link_to courses_path do %>
    <span class="navigation">Courses</span>
  <% end %>
  <%= link_to committees_path do %>
    <span class="navigation">Committees</span>
  <% end %>
  <%= link_to advising_appointments_path do %>
    <span class="navigation">Advising</span>
  <% end %>
  <%= link_to new_job_posting_path do %>
    <span class="navigation">List New Job</span>
  <% end %>
</nav>