<!DOCTYPE html>
<html>
<head>
  <title>MaintenanceProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav">
    <div class="container">
    <%= render 'layouts/header' %>
      </div>
  </div>

  <div class="container">

  <%= render 'layouts/flash' %>

  <div class="content">
    <%= yield %>
  </div>

</div>

</body>
</html>
